@model CRM_AGD.Areas.Client.Models.Issue

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.client.EmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.machineModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.machineModel.Model)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IssueId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
