@model IEnumerable<CRM_AGD.Areas.Client.Models.IssueFromPortal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecondName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomeNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SuggestedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.machineModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.street)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.machineModel.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IssueFromPortalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IssueFromPortalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IssueFromPortalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
