@model IEnumerable<CRM_AGD.Areas.Settlements.Models.FacturePosition>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Netto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brutto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.facture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vatRates)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Netto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brutto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.facture.FactureId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vatRates.VatRatesId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacturePositionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacturePositionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FacturePositionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
