@model CRM_AGD.Areas.Settlements.Models.Facture

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Facture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SumNetto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SumNetto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SumBrutto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SumBrutto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.client.EmailAddress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FactureId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
